* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #dfd6d6;
    --other-color: rgb(197, 133, 188);
}

body {
    background-color: #eaebf2;
}

header {
    height: 200px;
    width: 100%;
}

.header {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../images/tYHp3s.jpg);
    color: #dfd6d6;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    padding-top: 5px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 18px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header nav ul li a:hover {
    color: var(--other-color);
    transition: 1s ease;
}

.header nav ul li a:not(:hover) {
    color: var(--main-color);
    transition: 1s ease;
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #5c41bd 0%,
            #66be63 29%,
            #dd5f89 67%,
            #dad787 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.aside {
    min-height: 138vh;
    margin-right: 10px;
    padding: 20px;
    clear: both;
    float: left;
    width: 21%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    background-color: #eceaf2;
    color: #63646c;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}

.responsive-title {
    display: none;
}

.about-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #eceaf2;
    color: #2d2f3a;
}

.contact-me {
    margin-bottom: 10px;
    padding: 20px;
    height: 100px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #eceaf2;
    color: #2d2f3a;
}

.portfolio {
    margin-bottom: 20px;
    /* border: 10px solid #ffffff; */
    padding: 50px;
    height: 90vh;
    background-color: #eceaf2;
    color: #223043;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.flex {
    display: flex;
    flex-basis: 48%;
    height: 200px;

}

.h2 {
    margin-top: 14em;
    font-size: 18px;
    color: #223043;
    font-family: 'Courier New', Courier, monospace;
    border: 5px solid #223043;
    background-color: #eceaf2;
}

#portfolio-1 {
    flex-basis: 100%;
    background: url("../images/Planned\ Perfection.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    height: 300px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
}

#portfolio-1:not(:hover) {
    filter: grayscale(0%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

#portfolio-1:hover {
    transform: grayscale(100%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

#portfolio-2 {
    flex-basis: 100%;
    background: url("../images/Groovehub.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    height: 300px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
}

#portfolio-2:not(:hover) {
    filter: grayscale(0%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

#portfolio-2:hover {
    transform: grayscale(100%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

project-overlay {
    position: relative;
    height: 100%;
}

.project-overlay h2 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
}

.about-me img,
.portfolio img {
    max-height: 250px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #63646c;
}

.footer h2 {
    font-size: 20px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    margin-top: 40px;
}

@media screen and (max-width: 992px) {
.aside,
.about-me,
.contact-me,
.portfolio,
body {
    background: #eceaf2;
    background-color: #eceaf2;
}

.flex {
    flex-basis: 100%;
    height: 100px;
}

.about-me,
.portfolio {
     margin-left:25%;
     padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-bottom:0;
}

#portfolio-2 {
     background-position: 30% 65%;
}

#portfolio-3 {
      background-position: 30% 65%;
}

#portfolio-4 {
     background-position: 30% 65%;
}

#portfolio-5 {
      background-position: 30% 65%;
}

 .aside {
     display: none;
 }

.responsive-title {
     display: block;
     margin-left:45%;
     padding:10px;
}
.contact-me {
    padding: 0;
    margin-left: 85px;
    margin-right: 0;
    width: 100%;
    margin-bottom: 0;
    font-size: 20px;
    display:flex;
    flex-direction: column;
}
    
.socials {
     font-size: 15px;
     margin:0;
     padding:0;
 }
   
 .footer {
     padding-top:0;
}
}