* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
}

header {
    height: 100px;
    width: 100%;
    border-bottom: 10px solid rgb(182, 49, 230);
    background-color: #d3413c;
}

.header {
    padding: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    background-color: #61115f;
    color: #dfd6d6;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/5fa9213a984006fe47dbf84acfc0958d.jpg");
    background-size: cover;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 600%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #000000;
    color:#ffffff
}

.about-me,
.contact-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #030303;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
}

.portfolio {
    margin-bottom: 20px;
    padding: 50px;
    height: 90vh;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.flex {
    display: flex;
    flex-basis: 48%;
    height: 200px;

}

#portfolio-1 {
    flex-basis: 100%;
    background: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

#portfolio-1:hover {
    transform: translateY(-2em);
}

#portfolio-2 {
    background: url("../images/istockphoto-1332167985-170667a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#portfolio-3 {
    background: url("../images/istockphoto-1332167985-170667a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#portfolio-4 {
    background: url("../images/istockphoto-1332167985-170667a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#portfolio-5 {
    background: url("../images/istockphoto-1332167985-170667a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-me img,
.portfolio img,
.contact-me img {
    max-height: 200px;
}

.about-me h2,
.portfolio h2,
.contact-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    text-align: center;
    color:#ffffff
}

.footer h2 {
    font-size: 20px;
}

/* window size 850 width set */
@media screen and (max-width: 850px) {
    .column {
        width: 50%;
    }
}

/* window size 400 width set */
@media screen and (max-width: 400px) {
    .column {
        width: 100%;
    }
}