* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #eaebf2;
}

header {
    height: 200px;
    width: 100%;
}

.header {
    padding: 20px;
    font-family:'Courier New', Courier, monospace;
    background-image: url(../images/tYHp3s.jpg);
    color: #dfd6d6;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 18px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 0px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/tYHp3s.jpg");
    background-size:cover;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.aside {
    min-height: 134.5vh;
    margin-right: 10px;
    padding: 20px;
    /* border: 10px solid #ffffff; */
    clear: both;
    float: left;
    width: 21%;
    height: 100%;
    font-family:'Courier New', Courier, monospace;
    font-size: 32px;
    background-color: #eceaf2;
    color: #63646c;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.about-me{
    /* border: 10px solid #ffffff; */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family:'Courier New', Courier, monospace;
    background-color: #eceaf2;
    color: #2d2f3a;
}
.contact-me {
    margin-bottom: 10px;
    padding: 20px;
    height: 100px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #eceaf2;
    color: #2d2f3a;
}

.portfolio {
    margin-bottom: 20px;
    /* border: 10px solid #ffffff; */
    padding: 50px;
    height: 90vh;
    background-color: #eceaf2;
    color: #223043;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.flex {
    display: flex;
    flex-basis: 48%;
    height: 200px;

}

#portfolio-1 {
    flex-basis: 100%;
    background: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

#portfolio-1:hover {
    transform: translateY(-2em);
}

#portfolio-2 {
    background: url("../images/pexels-alleksana-4271927.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#portfolio-3 {
    background: url("../images/pexels-alleksana-4271927.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#portfolio-4 {
    background: url("../images/pexels-alleksana-4271927.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#portfolio-5 {
    background: url("../images/pexels-alleksana-4271927.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-me img,
.portfolio img,
.contact-me img {
    max-height: 250px;
}

.about-me h2,
.portfolio h2,
.contact-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color: #63646c;
}

.footer h2 {
    font-size: 20px;
}

/* window size 850 width set */
@media screen and (max-width: 850px) {
    .column {
        width: 50%;
    }
}

/* window size 400 width set */
@media screen and (max-width: 400px) {
    .column {
        width: 100%;
    }
}
.welcome {
    font-size: 20px;
    /* align-content: center; */
}

.socials {
    display: inline-block;
    margin-left: 25px;
    padding-top: 15px;
    margin-right: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 25px;
}